body {
	background-image: url("Pictures/background1.png");
	no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@font-face { 
	font-family: SWTOR; src: url('HOMOARAK.TTF'); 
}
h1 {
	font-family: SWTOR;
	text-align: center;
	color: white;
}
p {
	background-color:rgba(255,255,255,0.3);
}
