body {
	background-image: url("Pictures/background1.png");
	no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
@font-face { 
	font-family: SWTOR; src: url('HOMOARAK.TTF'); 
}
h1 {
	font-family: SWTOR;
	text-align: center;
	color: white;
}
p {
	background-color:rgba(128,0,128,0.3);
}
input[type=submit] {
	background:#FFFAF0;
}
#navigation {
	text-align: center;
}
#alignLog {
	text-align:right;
}
#header{
	background-color:rgba(0,0,0,0.3);
	position: fixed;
	top: 0px;
	left: 0;
	z-index: 999;
	width: 100%;
	height: 130px;
}
#content{
	background-color:rgba(128,0,128,0.3);
	position: relative;
	top: 125px;
	left: 0;
	z-index: 998;
	width: 80%;
}